<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
              http://www.springframework.org/schema/beans/spring-beans.xsd
              http://www.springframework.org/schema/aop
              http://www.springframework.org/schema/aop/spring-aop.xsd
              http://www.springframework.org/schema/context
              http://www.springframework.org/schema/context/spring-context.xsd
              http://www.springframework.org/schema/tx
              http://www.springframework.org/schema/tx/spring-tx.xsd
              http://www.springframework.org/schema/cache
              http://www.springframework.org/schema/mvc
              http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
              http://www.springframework.org/schema/cache/spring-cache.xsd">

    <!--配置property文件-->
    <context:property-placeholder location="classpath:jdbc.properties"/>
    <!-- 扫描entity,service包下所有使用注解的类型 -->
    <context:component-scan base-package="com.zhou.controller,com.zhou.dao.impl,com.zhou.service.impl"/>
    <aop:aspectj-autoproxy proxy-target-class="true"/>

    <!--========================hibernate 相关配置=====================================-->
    <!--.数据库连接池-->
    <bean class="org.apache.commons.dbcp.BasicDataSource" id="dataSource">
        <!--连接池属性-->
        <property name="driverClassName" value="${mysql.driverClass}"/>
        <property name="url" value="${mysql.jdbcUrl}"/>
        <property name="username" value="${mysql.user}"/>
        <property name="password" value="${mysql.password}"/>
    </bean>
    <!--3.配置Hibernate SessionFactory对象-->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <prop key="hibernate.format_sql">true</prop>
            </props>
        </property>
        <!--注解方式配置entity-->
        <property name="packagesToScan">
            <list>
                <value>com.zhou.entity</value>
            </list>
        </property>
    </bean>
    <!--配置事务-->
    <bean name="txManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <tx:annotation-driven transaction-manager="txManager"/>
    <!--配置View层页面存放位置-->

</beans>